<div class="container">
	<h2>Add a Meal</h2>
	<div class="alert alert-{{vm.alert.type}}" role="alert" ng-if="vm.alert.message">{{vm.alert.message}}</div>
	<form ng-submit="vm.submit()">
	  <div class="form-group">
	    <label for="meal">Meal</label>
	    <input type="text" class="form-control" placeholder="Type in a meal" ng-model="vm.meal.description" required max-length="200">
	  </div>
	  <div class="form-group">
	  	<label class="checkbox-inline">
	    	<input type="checkbox" value="" ng-model="vm.meal.breakfast"  ng-change="vm.cleanAlert()">
	    	Breakfast
	  	</label>
	  	<label class="checkbox-inline">
	    	<input type="checkbox" value="" ng-model="vm.meal.lunch" ng-change="vm.cleanAlert()">
	    	Lunch
	  	</label>
	  	<label class="checkbox-inline">
	    	<input type="checkbox" value="" ng-model="vm.meal.dinner" ng-change="vm.cleanAlert()">
	    	Dinner
	  	</label>
	  </div>	  
	  <button type="submit" class="btn btn-lg btn-primary">Add</button>
	</form>
</div>

